<!DOCTYPE html>
<html>
<head>
  <title>Application Registration Page</title>
</head>
<body>

<h1>New application</h1>

<% if @errors.nil? %>

<p > To add an application, please enter the application name and the URL : </p>

<% else %>
<p>
	  <% if @errors[:name] %>
			<% if @errors[:name].include?("can't be blank") %>
				Name of the application can't be blank !
			<% end %>
			<% if @errors[:name].include?("has already been taken") %>
			Name
			<%= @a.name %>
			has already been taken
			<% end %>
		<% end %>
		<% if @errors[:url] %>
			<% if @errors[:url].include?("can't be blank") %>
				URL can't be blank !
			<% end %>
			<% if @errors[:url].include?("has already been taken") %>
			URL
			<%= @a.url %>
			has already been taken
			<% end %>
	  <% end %>
</p>
<% end %>

<form action="/applications" method="post">
  <div class="field">
    <label for="application_name">Application Name (*)</label><br />
    <input id="application_name" name="name" size="30" type="text"/>
  </div>
  <div class="field">
    <label for="application_url">URL (*)</label><br />
    <input id="application_url" name="url" size="60" type="text"/>
  </div>
  <div class="actions">
    <input name="commit" type="submit" value="Create application" />

  </div>
</form>

</body>
</html>

