<!DOCTYPE html>
<html>
<head>
  <title>User Profil Page</title>
</head>
<body>

<p> Bonjour <%= login %>, bienvenue sur votre profil !
</p>
<p> Liste de vos applications : </p>


<a href ="/sessions/disconnect"> Deconnexion </a>
</body>
</html>
